<div class="<%= container_classes %>">
  <input  id="<%= input_id %>"
          type="<%= type %>"
          value="<%= flag %>"
          name="<%= name %>"
          data-action="change->rails-command#updateOutput"
          data-rails-command-target="<%= target %>" 
          class="<%= input_classes %>"
          <%= "checked" if checked %> />

  <label for="<%= input_id %>" class="<%= label_classes %>">
    <div class="w-full flex flex-col justify-center items-start gap-2">
      <div class="text-xl font-semibold text-slate-200 py-3">
        <%= t(".flag_command_component.#{flag}") %>
      </div>
      <div class="text-slate-200 dark:text-gray-300">
        <%= t(".flag_command_component.#{flag}_description") %>
      </div>
    </div>
    <% if icon.present? %>
      <figure class="flex justify-center items-center p-2 rounded-full">
        <%= inline_svg_tag("icons/brands/#{icon}.svg", class: 'w-10 h-10') %>
      </figure>
    <% end %>
  </label>
</div>
