<div class="w-2/3 mx-auto flex flex-col gap-8" data-controller="flag-checkbox" >
  <!-- TITLE -->
  <h1 class="w-full flex justify-center items-center text-4xl font-bold text-slate-200 py-4">Customize your rails app!!</h1>

  <!-- FORMULARIO PARA INTRODUCIR EL NOMBRE DE LA APP -->
  <%= text_field_tag :app_name, nil, id: "appName", placeholder: "Enter app name" %>

  <!-- SECCION DONDE RENDERIZAR CON ESTILOS BASH EL COMANDO CON FLAGS -->
  <%= link_to 'cambia el texxto', '', class:"px-4 py-2 border-indigo-500 cursor-pointer", data:{action: "click->flag-checkbox#change"} %>
  <div data-flag-checkbox-target="flag" class="w-full border border-red-400 p-8 hidden">
    texto inicial
  </div>
  
  <div class="flex flex-col [&>*:nth-child(odd)]:bg-slate-800 [&>*:nth-child(even)]:bg-slate-700 [&>*:first-child]:rounded-t-xl [&>*:last-child]:rounded-b-xl">
      <%= render(FlagCheckboxComponent.new(flag: 'git', checked: true)) %>
      <%= render(FlagCheckboxComponent.new(flag: 'javaScript', checked: false)) %>
      <%= render(FlagCheckboxComponent.new(flag: 'bootsnap', checked: false)) %>
  </div>
</div>

<!-- Checkbox components 
<div class="flex items-center pl-4 w-full flex-nowrap gap-4 border border-slate-900 rounded-xl shadow shadow-slate-200 text-slate-200 bg-slate-800 hover:bg-slate-300 hover:text-slate-800 hover:cursor-pointer">
    <input id="bordered-checkbox-1" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="bordered-checkbox-1" class="w-full py-4 ml-2 text-sm font-medium w-10/12 flex flex-col justify-center items-start gap-4 px-4 py-2">
      <div>Titulo: ipsum dolor sit amet consectetur</div>
      <div>Descripcion: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugit aliquam magni autem sed delectus corrupti dicta voluptates nemo amet repellat reprehenderit, alias, doloremque soluta illo maiores qui officiis pariatur?</div>
    </label>
</div>
-->